/* If this isn't here, card groups overflow nested containers */
* { 
  min-width: 0; 
  min-height: 0; }


#TempProjectsTitle2,
#TempProjectsTitle3{
  color: black;
  text-shadow: 0 8px 8px 0 rgba(255, 255, 255, 0.2);
  font-weight: 700;
  position: absolute;
  writing-mode: vertical-lr;
  text-orientation: upright;
  left: 12vw;
}

.title-card{  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;  
  margin: 1rem;
  flex: 1;
  min-width: 10%;
}

.title-card .see-full-list,
.title-card .drop-down {  
  float: inherit;
  margin: 0;
  text-align: center;
}

.card-group {
  display: flex;
  flex: 1;
  width: 100%;
  margin-left: 1em;
  max-width: 70vw;    
  justify-content: left;
  align-items: center;
  /* overflow: auto; */
}

div .card {
  margin: 1em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  border-radius: 0.5em;
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.3)
  );
}

.card-group > div:nth-child(1) > p,
.card > p{
  color: #000;
  line-height: 1.6em;
}

.card .title {
  padding-top: 0.5em;
  color: dimgray;
  font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.card i {
  padding: 1.5em;
}

.card button:hover,
a:hover {
  opacity: 0.7;
}

.project {
  max-width: 300px;
}

.box-three .card {
  max-height: 70vh;
}

.card-links {
  display: flex;
}

.modal{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: none;
}

.modal-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 10%;
}

.modal-content{
  transition: all 0.2s ease-in-out;
  /* position: absolute; */
}

.modal-close{
  position: absolute;
  font-size: xx-large;
  right: 5%;
  top: 5%;
  cursor: pointer;
}

.modal-zoom{
  animation: 0.6s;  
}

/* Carousel */
.carousel-inner{
  display: flex;
  flex: 1;  
}

.carousel-inner > *> a> img{
  display: none;
}

.multi-item-carousel .carousel-inner > .item {
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out all;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    transform: none !important;
  }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}
body {
  background: #333;
  color: #ddd;
}
h1 {
  color: white;
  font-size: 2.25em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  text-shadow: 0px 2px 0px #000000;
}

