/* Left Side Menu */
.side-menu {
  cursor: pointer;
  align-self: left;
  top: 45%;
  left: 0;
  position: fixed;
  background: none;
  border: none;
  z-index: 1000;
  transition: all 0.15s;
  display: flex;
  padding: 20px 0;
  line-height: 15px;
}

.side-menu-first,
.side-menu-second,
.side-menu-third,
.side-menu-fourth {
  position: absolute;
  left: 30px;
  width: 30px;
  height: 3px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.side-menu-second {
  transform: translateY(20px);
}
.side-menu-third {
  transform: translateY(40px);
}
.side-menu-fourth {
  transform: translateY(60px);
}

.side-menu-second:hover {
  transition: all 0.2s ease-out;
  /* transform: scaleX(1.1); */
}

.scroll-down-text {
  pointer-events: none;
  position: fixed;
  font-size: 1.5em;
  bottom: 80px;
  left: 30px;
  writing-mode: vertical-rl;
  transform: translateY(0%);
  color: #000;
}

.scroll-down-text p {
  display: block;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

.scroll-down-text::after {
  content: "";
  width: 2px;
  height: 75px;
  background: #000;
  position: absolute;
  top: 110%;
  left: 45%;
}

@media (max-width: 360px) {
}

@media (max-width: 768px) {
}

@media (max-width: 960px) {
  .side-menu {
    display: none;
  }
}

@media (min-width: 1440px) {
}
