/* Left Side Menu */
.side-menu {
  cursor: pointer;
  align-self: left;
  top: 45%;
  left: 0;
  position: fixed;
  background: none;
  border: none;
  z-index: 1000;
  transition: all 0.15s;
  display: flex;
  padding: 20px 0;
  line-height: 15px;
}

.side-menu-first,
.side-menu-second,
.side-menu-third,
.side-menu-fourth {
  position: absolute;
  left: 30px;
  width: 30px;
  height: 3px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.side-menu-second {
  transform: translateY(15px);
}
.side-menu-third {
  transform: translateY(30px);
}
.side-menu-fourth {
  transform: translateY(45px);
}

.side-menu-second:hover {
  transition: all 0.2s ease-out;
  /* transform: scaleX(1.1); */
}
.side-menu-third:hover {
  transform: translateY(30px);
}
.side-menu-fourth:hover {
  transform: translateY(45px);
}

@media (max-width: 360px) {
}

@media (max-width: 768px) {
}

@media (max-width: 960px) {
  .side-menu {
    display: none;
  }
}

@media (min-width: 1440px) {
}
